@model List<AB_Entity.Sys_DicTypes>
<label for="firstname" class="col-sm-2 control-label"></label>
<div class="col-sm-10">
    @foreach (var type in Model)
    {
        <div class="radio-inline">
            <label>
                <input type="radio" name="TypeId_@type.TypeId"  onclick="ShowDetailType('@Json.Encode(type)')"  value="@type.TypeId" />@type.Sys_Dic_Name
            </label>
        </div>
    }
    <div name="type" hidden class="list-inline">
        <input type="text" name="TypeIdOther" placeholder="请输入其他信息" />
        <a class="btn btn-default btn-xs" onclick="addType()">添加</a>
    </div>
</div>
 